body {
    position: relative;
}

nav a {
    color    : white;
    font-size: 0.7rem;
}

nav a:hover {
    color       : orange;
    /* font-size: 0.7rem; */
}

nav li#search {
    cursor  : pointer;
    color   : white;
    position: relative;
}

nav li#search input {
    position     : absolute;
    right        : 0%;
    transform    : translateX(100%);
    display      : none;
    padding      : 0.2rem 0.5rem;
    border       : 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

nav li#search:hover input {
    display: block;

}

.nav-item {
    padding: 0 0.5rem;
}

nav .dropdown {
    position: static;
}

nav .dropdown button {
    float     : right;
    display   : block;
    text-align: right;
}

nav .dropdown .dropdown-menu {
    width    : 100%;
    position : absolute;
    left     : 0;
    top      : 50px;
    font-size: 1rem;
}

.dropdown-item {
    color    : white;
    font-size: 0.8rem;
}

.dropdown-item:hover {
    background: orange;
    color     : white;

}

.dropdown-item#search {
    cursor  : pointer;
    color   : white;
    position: relative;
}

.dropdown-item#search input {
    position     : absolute;
    left         : 10%;
    top          : 0%;
    width        : 50%;
    display      : none;
    padding      : 0.2rem 0.5rem;
    border       : 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.dropdown-item#search:hover input {
    display: block;
}

.about-us h2 a {
    font-size      : 1rem;
    text-decoration: none;
    color          : black;
}

.about-us strong {
    font-size: 1.2rem;
}

.our-business h2 a {
    font-size      : 1rem;
    color          : white;
    text-decoration: none;
}

.our-business .content .col-2:nth-child(3) span {
    width              : 50px;
    height             : 50px;
    background         : url(./g8Uz5Ei.jpg);
    background-position: center center;
    background-size    : cover;
    border             : 1px solid wheat;
}

.our-business .content .col-2:nth-child(5) span {
    width              : 50px;
    height             : 50px;
    background         : url(./Book_Icon.png);
    background-position: center center;
    background-size    : cover;
    border             : 1px solid wheat;
}

.our-business .content h3 {
    font-size: 1.2rem;
    color    : white;
}

.our-business .content h3 {
    font-size: 1.2rem;
    color    : white;
}

.our-business .content p {
    color: white;
}

.our-business .content {
    position: absolute;
    top     : 0;
    left    : -25px;
}

.news h2 a {
    font-size      : 1rem;
    color          : black;
    text-decoration: none;
}

.news h3 a {
    font-size      : 1.2rem;
    color          : black;
    text-decoration: none;
}

.news h4 {
    line-height: 1.2rem;
}

.news h4 a {
    font-size      : 1rem;
    color          : black;
    text-decoration: none;
}

.news p a {
    font-size: 0.9rem;
    color    : black;
}

.news p a::after {
    content     : "\f061";
    font-family : "Font Awesome 5 Free";
    font-weight : 900;
    padding-left: 0.2rem;
}

.contact h2 {
    font-size: 1rem;
}

.contact strong {
    font-size: 1.2rem;
    color    : black;
}

.news>div:nth-child(3)>div {}

footer {
    background: black;
}

footer h3 {
    font-size: 1rem;
}

footer button {
    width: 100%;
}

footer ul {
    list-style  : none;
    padding-left: 0;
}

footer a {
    color: white;
}

footer a::before {

    content      : '\f054';
    font-family  : "Font Awesome 5 Free";
    font-weight  : 900;
    padding-right: 0.2rem;
}